* {
    box-sizing: border-box;
    margin:0;
    font-family: Inter, sans-serif;    
}

body {
    margin: 0;  
    position: relative;
    z-index: 1;
}
.intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #F5F7FB;
    padding: 12px;
    min-height: 200px;
    min-width: 200px;
    position: relative;
    z-index: 2;
}

.intro-content h1 {
    font-family: Karla, Verdana, Geneva, Tahoma, sans-serif;
    color: #293264;
    font-family: Karla;
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 7px;
}
.intro-content p {
    color: #293264;    
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 30px;
}
.intro-content select {
    margin-top: 8px;
    max-width: 120px ;
    color:#293264;
}
.intro-content button {
    width: 193px;
    height: 52px; 
    border-radius: 15px;
    background: #4D5B9E;
    border: none;
    color: #F5F7FB;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.intro-content button:hover {
    border: 2px solid black;
    color: black;
}
.intro-corner-tr {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;

}
.intro-corner-bl {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: -1;
}
.questions-content {
    padding: 40px 75px 25px 75px;
    background: #F5F7FB;
   /*  height: 100vh; */
    /* width: 100vw; */
    position: relative;
    z-index: 1;
    display: grid;
    grid-template: repeat(6, auto) / auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.questions-item {
    border-bottom: 2px solid #DBDEF0;
    padding-bottom: 18px;
    
    
}
.questions-title {
    color: #293264; 
    font-family: Karla;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 12px;
}
.questions-content input[type="radio"] { 
    display: none;    
}
.questions-content input[type="radio"]:checked + label {
    background: #D6DBF5; 
}

.questions-content label {
    border-radius: 8px;
    border: 1px solid #4D5B9E; 
    cursor: pointer;
    margin: 2px 12px 2px 2px;
    color: #293264;
    font-size: 11px;
    font-weight: 500;
    min-width: 66px;
    padding: 4px 8px 4px 8px;
    display: inline-flex;
    justify-content: center;
}

.questions-button {
    background: #4D5B9E;
    color: #F5F7FB;
    text-align: center;
    justify-content: center;
    font-family: Inter;
    font-size: 10px;    
    font-weight: 600;
    padding: 10px 21px 10px 21px;
    border-radius: 9px;
    width: 200px;
    display: flex;
    border: none;
    cursor: pointer;
    align-self: center;
    margin-block: 20px;
}
.questions-button-wrapper  {
    width: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.questions-button-wrapper span {
    color: #293264;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-weight: 700;
    padding-right: 3vw;
}
.questions-category {
    color: #293264; 
    font-family: Karla;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 21px;
    cursor: pointer;
}
.answer_correct {
    background: #94D7A2;
}
.answer_wrong {
    background: #F8BCBC;;
}
.intro-content select {
    margin-left: 16px;
    color: #293264;
    font-size: 14px;
    font-weight: 500;
    background: #F5F7FB;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #4D5B9E;
    padding: 6px;

}
.intro-content select::selection {
    background: #4D5B9E;
}
.hideBtn {
    display: none;
}
/* loading animation */
.ring
{
  position:fixed;
  z-index: 1;
  top:50%;
  left:50%; 

  transform:translate(-50%,-50%);
  width:100px;
  height:100px;
  background:transparent;
  border:3px solid #293264;
  border-radius:50%;
  text-align:center;
  line-height:100px;
  font-weight: 600;
  font-size:11px;
  color:#4D5B9E;
  letter-spacing:3px;
  text-transform:uppercase;
  text-shadow:0 0 10px #4D5B9E;
  box-shadow:0 0 20px rgba(0,0,0,.5);
}
.ring:before
{
  content:'';
  position:absolute;
  z-index: 96;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid #4D5B9E;
  border-right:3px solid #4D5B9E;
  border-radius:50%;
  animation:animateC 2s linear infinite;
}
.ring span
{
  display:block;
  position:absolute;
  z-index: 96;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
.ring span:before
{
  content:'';
  position:absolute;
  z-index: 95;
  width:16px;
  height:16px;
  border-radius:50%;
  background:#4D5B9E;
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px #4D5B9E;
}
@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}
.error {
    font-size: 12px;
    margin: 2px;
    color: #bd0c0c;
    animation: blinker 1s linear infinite;
}
@keyframes blinker {
    50% {
      opacity: 0;
    }
}
.modal-background {    
    position: absolute;
    z-index: 98;
    width: 100%;
    height: 100%;
    opacity: 40%;
    background: #acaeb9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

}
.modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 50%;
    transform: translate(-50%, -50%); 
    top: 50%;
    font-size: 14px;   
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 99;
    background: #4D5B9E;
    opacity: 100%;
    border-radius: 12px;
    box-shadow: 0px 0px 6vw 2vw #000;
    color: #F5F7FB;;
    
}
.modal button {
    background: #F5F7FB;
    margin-top: 20px;
    padding: 4px 22px 4px 22px;
    border-radius: 8px;
    border: 1px solid #000; 
    cursor: pointer;
    color: #293264;
    font-size: 12px;
    font-weight: 500;
}